
/* =========
LOGIN && REGISTER PAGES
========= */

.login-register-page {
	background-color: #f54764;
	font-family: 'nunito-medium';
	padding: 0% 5%;
	
	.item-content {
		background-color: #f54764;
	}
	ul {
		margin-top: 100px;
		background-color: transparent;
	}
	li {
		margin-bottom: 10px;
	}	
	ul:before {
		background-color: transparent;
	}
	ul:after {
		left: 15px;
	}
	.list-block .label {
		color: white;
		left: 15px;
		font-size: 12px;
		margin-top: 5px;
		width: 100%;
	}
	#terms-and-conditions {
		color: white;
		text-align: center;
		.link {
			color: white;
			text-decoration: underline;
		}
	}
}
	
#login-btn, #register-btn {
	background-color: white;
	color: #f54764;
}
