
/* =========
MAIN PAGE
========= */
#main-view {
	background-color: #f54764;
	font-family: 'nunito-medium';
	padding: 0% 10%;
	.row {
		margin-bottom: 10px;
		color: white;
		text-align: center;
	}
}

#block-fb-email-login, #block-register-login {
	position: relative;
	top: 50%;
	transform: translateY(-150%);
}
#block-fb-email-login {
	margin-bottom: 80px;
}

#fb-login-btn {
	background-color: #3b5998;
	i { vertical-align: middle; }
	span { margin: 0px 10px; font-size: 15px; }
}
#email-login-btn {
	background-color: white;
	color: #f54764;
}
#login-btn {
	margin: 0px 50px;
}
#email-login-btn span, #login-btn span{
	margin: 0px 20px;
	font-size: 15px;
}
#block-register-login .row:nth-child(1) span:nth-child(1){
	font-size: 20px;
}
#register-login-btn {
	border-width: 2px;
	border-color: white;
	color: white;
}
