/* =========
GENERAL STYLES
========= */

.navbar {
	background-color: #f54764;
	.icon {
		color: white;
	}
}
.navbar:after {
	background-color: transparent;
}

/* Placeholder color */
::-webkit-input-placeholder{
	color: white;
	opacity: 0.7;
}
:-ms-input-placeholder {
	color: white;
	opacity: 0.7;
}
::-ms-input-placeholder {
	color: white;
	opacity: 0.7;
}
:-moz-placeholder {
	color: white;
	opacity: 0.7;
}
::-moz-placeholder {
	color: white;
	opacity: 0.7;
}

/* Input text color */
.list-block {
	input[type=text], input[type=password] {
		color: white;
	}
	.item-inner {
		padding-bottom: 0px;
	}
}


/* =========
  IMPORTS
========= */

@import 'main';
@import 'login-register';
